main {

  div {
    &.Inicio {
      height: 720px;

      section {
        position: relative;
        top: 480px;
        margin: 0 50px;
        
        article {

          h1 {
            font-size: 26px;
            font-weight: 600px;
          }
          
          p {
            font-size: 20px;
            text-indent: 20px;
            text-align: justify;
            margin: 25px 0px;

            a {
              color: cornflowerblue;
            }
          }
        }
      }
    }

    &.Informacao {

      section {
        margin: 40px 50px;

        
        article {

          margin-bottom: 50px;
          
          h1 {
            font-size: 26px;
            font-weight: 600px;
          }

          p {
            font-size: 20px;
            text-indent: 20px;
            text-align: justify;
            margin: 25px 0px;

            a {
              color: cornflowerblue;
            }
          }

          ul {
            list-style: none;

            li {
              font-size: 20px;
              text-align: justify;
              margin: 20px 0px;
            }
          }
        }
      }
    }

    &.Visite-nos {

      section {

        margin: 0 50px;

        div.buttonForms {

          height: 100px;
          display: flex;
          gap: 30px;
          justify-content: center;
        
            button {

              height: 60px;
              padding: 12px;
              font-size: 20px;
              font-weight: 500;
              border-radius: 5px;
              margin-top: 5px;
              background-color: cornflowerblue;
              cursor: pointer;
        
              &:hover {
                background-color: navy;
                color: white;
              }
            }
          }

        article {
          h1 {
            font-size: 26px;
            font-weight: 600px;
          }
          
          p {
            font-size: 20px;
            text-indent: 20px;
            text-align: justify;
            margin: 25px 0px;

            a {
              color: cornflowerblue;
            }
          }

          ul {
            list-style: none;

            li {
              font-size: 20px;
              text-align: justify;
              margin: 20px 0px;
            }
          }

        }
      }
    }
  }
}
