footer {
    background: cornflowerblue;


    div {
        display: flex;
        height: 200px;
        margin-left: 55px;
        padding-top: 10px;

        &.Ideal {
            .logo {
                font-size: 36px;
                font-weight: 600;
                color: white;
            }

            p {
                font-size: 20px;
                color: white;
            }
        }

        &.Direitos {
            height: 30px;
            display: flex;
            justify-content: center;

            p{
                font-size: 10px;
                font-weight: 300;
                color: white;
            }
        }
    }
}
