div.modal {
    width: 1346px;
    height: 720px;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 1320px;




    .conteiner {
        background-color: white;
        border-radius: 10px;
        min-width: 30%;
        overflow: auto;
        z-index: 1000;

        h1 {
            text-align: center;
            margin-bottom: 12px;
        }
    }
}


form {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    width: 400px;
    height: 600px;

    .inputs {
        padding: 8px 5px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid cornflowerblue;
        color: black;
        width: 100%;
        transition: 0.3s;
    }

    .inputs:focus {
        border-color: navy;
    }

    button {
        &.enviar {
            padding: 12px;
            font-size: 16px;
            border-radius: 5px;
            margin-top: 5px;
            background-color: cornflowerblue;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: navy;
            }
        }

        &.fechar {
            padding: 12px;
            font-size: 16px;
            border-radius: 5px;
            margin-top: 5px;
            background-color: red;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: rgb(196, 4, 4);
            }
        }
    }
}