header {
    width: 1350;
    height: 80px;
    background: white;
    position: sticky;
    transition: background-color 0.4s ease-in-out;

    nav {
        position: flex;
        margin: 30px;
        display: flex;
        justify-content: space-between;
        width: 1300px;
        height: 48px;

        .nav-links ul {
            display: flex;
            list-style: none;
            position: relative;
            top: -15;

            li {
                margin: 0 25px;

                a {
                    font-weight: 600;

                    &:hover {
                        color: cornflowerblue;
                    }
                }
            }
        }

        a {
            color: black;
            text-transform: uppercase;

            &.logo {
                position: relative;
                top: -10px;
                font-size: 32px;
                font-weight: bold;
                margin: 0px 0px 0px 20px;
            }
        }
    }
}