header {

    display: flex;
    position: fixed;
    gap: 720px;
    
    .logo{
        margin-left: 55px;
        margin-top: 0px;
        font-size: 30px;
    }
 
    nav {

        ul {
            width:auto;
            height: 86px;
            display: flex;
            list-style: none;
            align-items: center;

            li {
                margin: 0 25px;

                a {
                    font-size: 18px;
                    font-weight: 600;

                    &:hover {
                        color: cornflowerblue;
                    }
                }
            }
        }

        a {
            color: black;
            text-transform: uppercase;

            &.logo {
                position: relative;
                top: -10px;
                font-size: 32px;
                font-weight: bold;
                margin: 0px 0px 0px 20px;
            }
        }
    }
}
