* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 1350;
  height: 80px;
  background: white;
  position: sticky;
  transition: background-color 0.4s ease-in-out;

  nav {
    position: flex;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 48px;

    .nav-links ul {
      display: flex;
      list-style: none;
      position: relative;
      top: -15;

      li {
        margin: 0 25px;

        a {
          font-weight: 600;

          &:hover {
            color: cornflowerblue;
          }
        }
      }
    }

    a {
      color: black;
      text-transform: uppercase;

      &.logo {
        position: relative;
        top: -10px;
        font-size: 32px;
        font-weight: bold;
        margin: 0px 0px 0px 20px;
      }
    }
  }
}

main {
  width: 1250px;
  height: 2160px;
  background: white;
  z-index: 0;

  div {
    &.Inicio {
      width: 1300;
      height: calc(720px - 150px);

      section {
        position: relative;
        top: 350px;
        margin: 0 50px;

        h1 {
          font: 32px;
          font-weight: 600px;
        }

        article {
          width: 1200px;

          p {
            font-size: 20px;
            text-indent: 20px;
            text-align: justify;
            margin: 25px 0px;

            a {
              color: cornflowerblue;
            }
          }
        }
      }
    }

    &.Informacao {
      width: 1300px;
      height: 720px;

      section {
        position: relative;
        margin: 0 50px;

        h1 {
          font: 32px;
          font-weight: 600px;
        }

        article {
          width: 1200px;

          p {
            font-size: 20px;
            text-indent: 20px;
            text-align: justify;
            margin: 25px 0px;

            a {
              color: cornflowerblue;
            }
          }

          ul {
            list-style: none;

            li {
              font-size: 20px;
              text-align: justify;
              margin: 20px 0px;
            }
          }
        }
      }
    }

    &.Visite-nos {
      width: 1300px;
      height: 720px;

      section {
        position: relative;
        margin: 0 50px;

        h1 {
          font: 32px;
          font-weight: 600px;
        }

        article {
          width: 1200px;

          p {
            font-size: 20px;
            text-indent: 20px;
            text-align: justify;
            margin: 25px 0px;

            a {
              color: cornflowerblue;
            }
          }

          ul {
            list-style: none;

            li {
              font-size: 20px;
              text-align: justify;
              margin: 20px 0px;
            }
          }

          button {
            padding: 12px;
            font-size: 16px;
            border-radius: 5px;
            margin-top: 5px;
            background-color: cornflowerblue;
            cursor: pointer;
            position: absolute;
            top: 120px;
            left: 500px;

            &:hover {
              background-color: navy;
              color: white;
            }
          }
        }
      }
    }
  }
}

div.modal {
  width: 1346px;
  height: 720px;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 1320px;

  .conteiner {
    background-color: white;
    border-radius: 10px;
    min-width: 30%;
    overflow: auto;
    z-index: 1000;

    h1 {
      text-align: center;
      margin-bottom: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 12px;
      gap: 12px;
      border: 2px solid cornflowerblue;
      border-radius: 10px;
      width: 400px;
      height: 600px;

      .inputs {
        padding: 8px 5px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid cornflowerblue;
        color: black;
        width: 100%;
        transition: 0.3s;
      }

      .inputs:focus {
        border-color: navy;
      }

      button {
        padding: 12px;
        font-size: 16px;
        border-radius: 5px;
        margin-top: 5px;
        background-color: cornflowerblue;
        cursor: pointer;

        &:hover {
          background-color: navy;
          color: white;
        }
      }

      .span-requerimentos {
        display: none;
      }
    }
  }
}

footer {
  width: 1349px;
  height: 249px;
  background: cornflowerblue;

  div {
    width: 400px;
    height: 85px;
    position: relative;
    bottom: -50px;
    left: 30px;

    &.Ideal {
      .logo {
        font-size: 36px;
        font-weight: 600;
        color: white;
      }

      p {
        font-size: 20px;
        color: white;
      }
    }

    &.Direitos {
      width: 400px;
      height: 10px;
      font-size: 10px;
      font-weight: 300;
      color: white;
      position: relative;
      bottom: -110px;
      left: 550px;
    }
  }
}
