* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: cornflowerblue;
}

body {
  width: 100%;
}

header {
  width: 100%;
  height: 12%;
  z-index: 10;
}

main {
  width: 100%;
  height: 60%;
  padding: 5px;
  z-index: 0;
  margin-bottom: 40px;
}

footer {
  width: 100%;
  height: 28%;
  z-index: 0;
}

header {
  display: flex;
  position: fixed;
  gap: 620px;
  background-color: cornflowerblue;
}
header .logo {
  margin-left: 55px;
  margin-top: 0px;
  font-size: 30px;
  cursor: pointer;
}
header nav ul {
  width: auto;
  height: 86px;
  display: flex;
  list-style: none;
  align-items: center;
}
header nav ul li {
  margin: 0 25px;
}
header nav ul li a {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

main div.Inicio {
  height: 720px;
}
main div.Inicio section {
  position: relative;
  top: 480px;
  margin: 0 50px;
}
main div.Inicio section article h1 {
  font-size: 26px;
  font-weight: 600px;
}
main div.Inicio section article p {
  font-size: 20px;
  text-indent: 20px;
  text-align: justify;
  margin: 25px 0px;
}
main div.Inicio section article p a {
  color: cornflowerblue;
}
main div.Informacao section {
  margin: 40px 50px;
}
main div.Informacao section article {
  margin-bottom: 50px;
}
main div.Informacao section article h1 {
  font-size: 26px;
  font-weight: 600px;
}
main div.Informacao section article p {
  font-size: 20px;
  text-indent: 20px;
  text-align: justify;
  margin: 25px 0px;
}
main div.Informacao section article p a {
  color: cornflowerblue;
}
main div.Informacao section article ul {
  list-style: none;
}
main div.Informacao section article ul li {
  font-size: 20px;
  text-align: justify;
  margin: 20px 0px;
}
main div.Visite-nos section {
  margin: 0 50px;
}
main div.Visite-nos section div.buttonForms {
  height: 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
main div.Visite-nos section div.buttonForms button {
  height: 60px;
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 5px;
  background-color: cornflowerblue;
  cursor: pointer;
}
main div.Visite-nos section div.buttonForms button:hover {
  background-color: navy;
  color: white;
}
main div.Visite-nos section article h1 {
  font-size: 26px;
  font-weight: 600px;
}
main div.Visite-nos section article p {
  font-size: 20px;
  text-indent: 20px;
  text-align: justify;
  margin: 25px 0px;
}
main div.Visite-nos section article p a {
  color: cornflowerblue;
}
main div.Visite-nos section article ul {
  list-style: none;
}
main div.Visite-nos section article ul li {
  font-size: 20px;
  text-align: justify;
  margin: 20px 0px;
}

footer {
  background: cornflowerblue;
}
footer div {
  display: flex;
  height: 200px;
  margin-left: 55px;
  padding-top: 10px;
}
footer div.Ideal .logo {
  font-size: 36px;
  font-weight: 600;
  color: white;
}
footer div.Ideal p {
  font-size: 20px;
  color: white;
}
footer div.Direitos {
  height: 30px;
  display: flex;
  justify-content: center;
}
footer div.Direitos p {
  font-size: 10px;
  font-weight: 300;
  color: white;
}

div.modal {
  width: 1346px;
  height: 720px;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 1320px;
}
div.modal .conteiner {
  background-color: white;
  border-radius: 10px;
  min-width: 30%;
  overflow: auto;
  z-index: 1000;
}
div.modal .conteiner h1 {
  text-align: center;
  margin-bottom: 12px;
}
div.modal .conteiner form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  width: 400px;
  height: 600px;
}
div.modal .conteiner form .inputs {
  padding: 8px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid cornflowerblue;
  color: black;
  width: 100%;
  transition: 0.3s;
}
div.modal .conteiner form .inputs:focus {
  border-color: navy;
}
div.modal .conteiner form button.enviar {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
div.modal .conteiner form button.enviar:hover {
  background-color: navy;
}
div.modal .conteiner form button.fechar {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
}
div.modal .conteiner form button.fechar:hover {
  background-color: rgb(196, 4, 4);
}
div.modal .conteiner form .span-requerimentos {
  display: none;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60, 0);
  }
  to {
    opacity: 1;
  }
}
div.modal {
  animation: modal 0.3s;
}

/*# sourceMappingURL=main.css.map */
